<ul>
<%
  if @order_desc
    bookmarks = @user.bookmarks.order("created_at DESC")
  else
    bookmarks = @user.bookmarks.order("created_at ASC")
  end
%>
  <% bookmarks.each do |bookmark| %>
    <% resource = bookmark.resource  %>
    <li>
      <%= link_to resource.link, resource.link, :target => '_blank' %>
      <%=raw render_date(resource.created_at) %>
      <%=raw render_description(resource.description) %>
      <%= form_for bookmark, :url => bookmark_archive_path(bookmark), :method => :put do |f|  %>
        <%= f.submit "Archive" %>
      <% end %>
    </li>
  <% end %>
</ul>
