<div class="row-fluid <%= cycle('even', 'odd') -%>">
  <div class="span10">
    <%= link_to resource.link, resource.link, :target => '_blank' %>
    <%=raw resource.description_html %>
  </div>
  <div class="span2">
    <% if resource.user %>
      <div class="pull-right">
        <%= raw render_user(resource.user) %>
      </div>
    <% end %>
    <%= form_for bookmark, :url => bookmark_archive_path(bookmark), :method => :put do |f|  %>
      <button type="submit" class="btn btn-xs pull-right" title="Archive">
        <i class="icon icon-trash"></i>
      </button>
    <% end %>
  </div>
</div>
