<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li><%= link_to "Add", root_path %></li>
        <li><%= link_to "Ascending", user_path(name: current_user.name) %></li>
        <li><%= link_to "Descending", user_path(name: current_user.name, order: "desc") %></li>
        <li><%= link_to "Archived", archived_path(name: current_user.name) %></li>
        <li><%= link_to "Customize", customize_path %></li>
      </ul>

      <ul class="nav pull-right">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>
