<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title(current_user) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

  <% if user_signed_in? %>
    <%= render "layouts/navbar" %>
  <% end %>

    <div class="container-fluid content">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>

    <% if user_signed_in? %>
      <script type="text/javascript" data-test="custom_javascript">
        try {
          <%=raw current_user.custom_javascript %>
        }catch(e){
          if(typeof console !== 'undefined' && console.warn) {
            console.warn(e);
          }
        }
      </script>
    <% end %>
  </body>
</html>
